@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  
  --color-brand-50: #f0fdf4;
  --color-brand-100: #dcfce7;
  --color-brand-500: #22c55e;
  --color-brand-600: #16a34a;
  
  --color-surface-50: #fafafa;
  --color-surface-100: #f4f4f5;
  --color-surface-200: #e4e4e7;
  
  --color-text-primary: #09090b;
  --color-text-secondary: #52525b;
}

@layer base {
  body {
    background-color: var(--color-surface-50);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    antialiased: true;
  }
}
